<!DOCTYPE html>
<html>
  <head>
    <title>RpsDapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Include Webpack-compiled JavaScript -->
    <script src="/packs/application.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>

  <script>
  window.ENV = {
    CONTRACT_ADDRESS: "<%= ENV['CONTRACT_ADDRESS'] %>"
  };
</script>
<script src="/packs/application.js" defer></script>

</html>
